.lg-input.at-input {
  margin-top: 20%;
}

.lg-button-login.at-button {
  color: white;
  //margin-top: 2em;
  margin: 2em 1em 1em 1em;
}

.lg-button-register.at-button {
  color: #7e7e7e;
  margin: 1em 1em 1em 1em;
}

.lg-base {
  padding-top: 20px;
}
