.rg-button-register.at-button {
  color: white;
  //margin-top: 2em;
  margin: 2em 1em 1em 1em;
}

.rg-base {
  padding-top: 20px;
}

.rg-input.at-input {
  margin-top: 20%;
}

.rg-login {
  color: #628CE8;
  margin-top: 1em;
  padding-right: 20px;
}

.rg-email {
  color: #628CE8;
  font-size: 40px;
  margin-top: 10px;
}
